---
layout: default
---

<section class="py-5">
  <div class="container">
    <h2 class="text-center fw-bold mb-5">
      {{ page.title }}
    </h2>
    <div class="row mb-5">
      <div class="col-12 col-lg-7 mx-auto">
        {{ content }}
      </div>
   </div>
  </div>
</section>
